* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.grid {
    position: absolute;
    width: 560px;
    height: 300px;
    border: solid 1px black;
    margin-top: 80px;
}

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: red;
    
}

.user {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: peru;
    
}


.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: aqua;
}